<div class ="container">
  <h2>商品編集・削除</h2>
  <div class="row">
    
    <%= form_with model:@item, url: admin_item_path(@item.id),local:true do |f| %>
      <table class="table table-borderless">
      <tr class="d-flex">
        <th class="col-6"><%= f.label :"商品画像" %></th>
        <td class="col-6"><%= f.attachment_field :image, class: " image" %></td>
      </tr>
      <!--ここから-->
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"商品名" %></th>
        <td class="col-4"><%= f.text_field :name, size: 40 %></td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"苦味" %></th>
        <td class="col-2">
          <%= f.radio_button :taste_bitter, 1 %>
          <%= f.label :taste_bitter, "1" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_bitter, 2 %>
          <%= f.label :taste_bitter, "2" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_bitter, 3 %>
          <%= f.label :taste_bitter, "3" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_bitter, 4 %>
          <%= f.label :taste_bitter, "4" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_bitter, 5 %>
          <%= f.label :taste_bitter, "5" %>
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"酸味" %></th>
        <td class="col-2">
          <%= f.radio_button :taste_sour, 1 %>
          <%= f.label :taste_sour, "1" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_sour, 2 %>
          <%= f.label :taste_sour, "2" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_sour, 3 %>
          <%= f.label :taste_sour, "3" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_sour, 4 %>
          <%= f.label :taste_sour, "4" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_sour, 5 %>
          <%= f.label :taste_sour, "5" %>
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"香り" %></th>
        <td class="col-2">
          <%= f.radio_button :taste_aroma, 1 %>
          <%= f.label :taste_aroma, "1" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_aroma, 2 %>
          <%= f.label :taste_aroma, "2" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_aroma, 3 %>
          <%= f.label :taste_aroma, "3" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_aroma, 4 %>
          <%= f.label :taste_aroma, "4" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_aroma, 5 %>
          <%= f.label :taste_aroma, "5" %>
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"コク" %></th>
        <td class="col-2">
          <%= f.radio_button :taste_body, 1 %>
          <%= f.label :taste_body, "1" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_body, 2 %>
          <%= f.label :taste_body, "2" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_body, 3 %>
          <%= f.label :taste_body, "3" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_body, 4 %>
          <%= f.label :taste_body, "4" %>
        </td>
        <td class="col-2">
          <%= f.radio_button :taste_body, 5 %>
          <%= f.label :taste_body, "5" %>
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"焙煎度" %></th>
        <td class="col-3">
          <%= f.radio_button :roasting_level, 0 %>
          <%= f.label :roasting_level, "深煎り" %>
        </td>
        <td class="col-3">
          <%= f.radio_button :roasting_level, 1 %>
          <%= f.label :roasting_level, "中煎り" %>
        </td>
        <td class="col-3">
          <%= f.radio_button :roasting_level, 2 %>
          <%= f.label :roasting_level, "浅煎り" %>
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"商品説明" %></th>
        <td class="col-4"><%= f.text_area :introduction, size: "40x4" %></td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"ジャンル" %></th>
        <td class="col-4"><%= f.collection_select(:genre_id, Genre.all, :id, :name , prompt: "-- 選択してください --") %></td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"税抜価格" %></th>
        <td class="col-4"><%= f.text_field :price, size: 10 %> 円</td>
      </tr>
      <tr class="d-flex">
        <th class="col-4"><%= f.label :"販売ステータス" %></th>
        <td class="col-3">
          <%= f.radio_button :is_sales, true %>
          <%= f.label :is_sales, "販売中" %>
        </td>
        <td class="col-4">
          <%= f.radio_button :is_sales, false %>
          <%= f.label :is_sales, "販売停止中" %>
        </td>
      </tr>
      <!--ここまで-->
    </table>
    <div>
      <%= f.submit "変更内容保存", class: "btn btn-outline-success" %> | <%= link_to "削除する", admin_item_path(@item), method: :delete, data: {confirm: "削除しますか？(販売停止にもできます。)"}, class: "btn btn-outline-danger" %>
    </div>
    <% end %>
  </div>
</div>
