<div class="container">
  <h2 style="padding-top: 20px;">商品一覧</h2>
  <div class="row">
    <div class="col-12">
        <%= link_to "＋ 新規登録", new_admin_item_path, class: "float-right mb-3 btn btn-outline-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="padding-top: 20px;">Asian&Oceania Coffee</h3>
      <p>アジア・オセアニアのコーヒー</p>
      <hr>
    </div>
  </div>
  <%= render 'admin/items/list', item: @asian_coffee %>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="padding-top: 20px;">African Coffee</h3>
      <p>アフリカ・中東のコーヒー</p>
      <hr>
    </div>
  </div>
  <%= render 'admin/items/list', item: @african_coffee %>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="padding-top: 20px;">Latin America Coffee</h3>
      <p>中南米・カリブ海のコーヒー</p>
      <hr>
    </div>
  </div>
  <%= render 'admin/items/list', item: @latian_america_coffee %>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="padding-top: 20px;">Blended Coffee</h3>
      <p>ブレンドコーヒー</p>
      <hr>
    </div>
  </div>
  <%= render 'admin/items/list', item: @blended_coffee %>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="padding-top: 20px;">Others Coffee</h3>
      <p>その他の商品</p>
      <hr>
    </div>
  </div>
  <%= render 'admin/items/list', item: @others %>

</div>











