<div class="container">
  <h4 style="padding: 20px 0;">マイページ</h4>
  <h4>ようこそ <b><%= @customer.last_name %> <%= @customer.first_name %></b> 様</h4>
  <br>
  <p>このページはお客様のマイページです。</p>
  <% if current_customer.email == 'guest@example.com' %>
    <p>
      ゲストユーザーは、お試し用です。<br>
      商品の購入<sup>＊</sup>やいいねなど、全ての機能をお試しで使えます。<br>
      (＊ 実際にお支払い頂くことはありませんのでご安心ください。)
    </p>
  <% end %>
  <div class="row">
    <%= link_to ec_orders_path, class: "col-lg-3 border", style: "padding: 30px 20px; margin: 30px 40px; background-color: #f1f1f1;" do %>
      <div class="row">
        <div class="col-lg-12">
          <h5 class="fas fa-shopping-cart text-dark"> 購入履歴　→</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-3">
          <ul>
            <li class="text-dark">ご注文した商品の一覧</li>
            <li class="text-dark">ご注文の詳細確認</li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= link_to ec_addresses_path, class: "col-lg-3 border", style: "padding: 30px 20px; margin: 30px 40px; background-color: #f1f1f1;" do %>
      <div class="row">
        <div class="col-lg-12">
          <h5 class="fas fa-truck text-dark"> 配送先リスト　→</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-3">
          <ul>
            <li class="text-dark">新規配送先の追加</li>
            <li class="text-dark">登録済み配送先の変更</li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= link_to ec_customer_path(current_customer), class: "col-lg-3 border", style: "padding: 30px 20px; margin: 30px 40px; background-color: #f1f1f1;" do %>
      <div class="row">
        <div class="col-lg-12">
          <h5 class="fas fa-user text-dark"> 会員情報　→</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-3">
          <ul>
            <li class="text-dark">会員情報の確認、変更</li>
            <li class="text-dark">退会</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>


  <div class="row">
    <!--グラフ-->
    <div class="col-lg-5">
      <h2 style="padding: 20px 0;">お好みの傾向</h2>
      <canvas id="myRaderChart" width="30" height="30"></canvas>
      <p class="mt-4">※購入履歴から得られたデータです。</p>
      <!-- CDN -->
    　<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

      <script>
        $(document).on("turbolinks:load", function(){
          var ctx = document.getElementById("myRaderChart");

          var myRadarChart = new Chart(ctx, {
              type: 'radar',


              data: {
                labels: ["苦味", "香り", "酸味", "コク"],
                datasets: [{
                    label: '<%= @customer.last_name %><%= @customer.first_name %>さん',
                    data: [<%= @taste_bitter_average %>, <%= @taste_sour_average %>, <%= @taste_aroma_average %>, <%= @taste_body_average %>],
                    backgroundColor: 'RGBA(236,140,50,0.5)',
                    borderColor: 'RGBA(69,87,172,1)',
                    borderWidth: 2,
                    pointBackgroundColor: 'RGB(69,87,172)',
                }]
              },

              options: {
                responsive: true,
                scale:{
                  pointLabels:{
                    fontSize: 20,
                    fontColor:"black"
                  },
                  ticks:{
                      suggestedMin: 0,
                      suggestedMax: 5,
                      stepSize: 0.5,
                  }
                },
              }
          });
        });
      </script>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
      <h2 style="padding: 20px 0;">新着商品</h2>
      <div class=row >
        <% @items.each do |item| %>
        <div class="col-lg-6">
          <%= link_to ec_item_path(item) do %>
            <%= attachment_image_tag item, :image, :size => "230x230" %>
          <% end %>
          <p>
            <%= item.name %><br>
            <%= item.price.to_s(:delimited) %>円
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
