<div class="container">
  <h2>会員一覧</h2>
  <p style="height:2px;"></p>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="table-active">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= link_to admin_customer_path(customer), :style=>"color:black;" do %>
                  <%= customer.last_name %><%= customer.first_name %>
                <% end %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_active == true %>
                  <p class = "text-success">有効</p>
                <% elsif customer.is_active == false %>
                  <p class = "text-secondary">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mx-auto" style="width: 200px"><%= paginate @customers %></div>