<div class="container">
  <p style="padding-bottom: 120px;"></p>
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, class: "img-responsive" %>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="font-weight-bold"><%= @item.name %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-2 border-bottom">
          <% if @item.roasting_level == "中煎り" %>
            <h5>中煎り</h5>
          <% elsif @item.roasting_level == "浅煎り" %>
            <h5>浅煎り</h5>
          <% else %>
            <h5>深煎り</h5>
          <% end %>
          <ul style="list-style: none; padding: 5px;">
            <% if @item.taste_bitter == 1 %>
            <li>苦味：●</li>
            <% elsif @item.taste_bitter == 2 %>
            <li>苦味：● ●</li>
            <% elsif @item.taste_bitter == 3 %>
            <li>苦味：● ● ●</li>
            <% elsif @item.taste_bitter == 4 %>
            <li>苦味：● ● ● ● </li>
            <% elsif @item.taste_bitter == 5 %>
            <li>苦味：● ● ● ● ●</li>
            <% else %>
            <li>苦味：ー</li>
            <% end %>

            <% if @item.taste_sour == 1 %>
            <li>酸味：●</li>
            <% elsif @item.taste_sour == 2 %>
            <li>酸味：● ●</li>
            <% elsif @item.taste_sour == 3 %>
            <li>酸味：● ● ●</li>
            <% elsif @item.taste_sour == 4 %>
            <li>酸味：● ● ● ● </li>
            <% elsif @item.taste_sour == 5 %>
            <li>酸味：● ● ● ● ●</li>
            <% else %>
            <li>酸味：ー</li>
            <% end %>

            <% if @item.taste_aroma == 1 %>
            <li>香り：●</li>
            <% elsif @item.taste_aroma == 2 %>
            <li>香り：● ●</li>
            <% elsif @item.taste_aroma == 3 %>
            <li>香り：● ● ●</li>
            <% elsif @item.taste_aroma == 4 %>
            <li>香り：● ● ● ● </li>
            <% elsif @item.taste_aroma == 5 %>
            <li>香り：● ● ● ● ●</li>
            <% else %>
            <li>香り：ー</li>
            <% end %>

            <% if @item.taste_body == 1 %>
            <li>コク：●</li>
            <% elsif @item.taste_body == 2 %>
            <li>コク：● ●</li>
            <% elsif @item.taste_body == 3 %>
            <li>コク：● ● ●</li>
            <% elsif @item.taste_body == 4 %>
            <li>コク：● ● ● ● </li>
            <% elsif @item.taste_body == 5 %>
            <li>コク：● ● ● ● ●</li>
            <% else %>
            <li>コク：ー</li>
            <% end %>
          </ul>
          <p><%= @item.introduction %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-2">
          <h7><span style="font-size: 1.5em;">¥<%= @item.price.to_s(:delimited) %></span> /100g</h7>
        </div>
        <!--いいね機能-->
        <div class="col-lg-6 mt-3" id="favorites_buttons_<%= @item.id %>">
          <%= render 'ec/favorites/favorite', locals: { item: @item } %>
        </div>
        <!--ここまで-->
      </div>

      <%= form_with model: @cart_item, url: ec_cart_items_path do |f| %>
      <div class="row mt-3">
        <div class="col-lg-3">
          <%= f.select :amount, options_for_select((1..10).to_a) %> 個
          <%= f.hidden_field :item_id, :value => @item.id %>
        </div>
        <div class="col-lg-6">
          <% if customer_signed_in? %>
            <%= f.submit "カートに入れる", class: "btn btn-outline-light", style: "background-color: #daa965;" %>
          <% else %>
            <%= link_to "購入にはログインが必要です", new_customer_session_path, class: "btn btn-outline-light mb-2", style: "background-color: #daa965;" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <!--map-->
    <div class="col-lg-3">
      <p>生産国を地図上で確認できます。</p>
      <div class="row">
        <div class="col-lg-12 mb-3">
          <%= form_with url: ec_item_map_request_path(@item), method: :get do |f|%>
          <div class="row">
            <div class="col-lg-8">
              <%= f.text_field :map_address %>
            </div>
            <div class="col-lg-4">
              <%= f.submit '地図表示' %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
      <div class="row gmap_wrapper" style="height: 300px;">
        <div class="col-lg-12" id="map"></div>
        <style>
        #map {
          position: absolute;

          width: 100%;
          height: 65%;
        }
        </style>

        <script>
          let mapInstance

          function initMap() {
            mapInstance = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 24.397, lng: 139.644 },
            zoom: 2,
            });
          }
        </script>

        <script
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_KEY'] %>&callback=initMap&libraries=&v=weekly"
          async
        >
        </script>
      </div>
      <p style="margin-bottom: 100px;"></p>
    </div>
  </div>
</div>





