<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr class="info">
          <th class="text-center">注文日</th>
          <th class="text-center">配送先</th>
          <th class="text-center">購入者</th>
          <th class="text-center">注文商品</th>
          <th class="text-center">支払金額</th>
          <th class="text-center">注文ステータス</th>
          <th class="text-center">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr>
            <td class="text-center">
              <%= link_to admin_order_path(order), :style=>"color:black;" do %>
                <%= order.created_at.strftime("%Y/%m/%d")  %>
              <% end %>
            </td>
            <td>
              〒<%= order.postal_code %><br>
              <%= order.address %>
            </td>
            <td class="text-center"><%= order.customer.last_name %> <%= order.customer.first_name %></td>
            <td>
              <% order.order_details.each do |ord| %>
              <%= Item.where(id: ord.item_id).pluck(:name).join %><br>
              <% end %>
            </td>
            <td class="text-center"><%= order.total_payment %>円</td>
            <td class="text-center"><%= order.order_status %></td>
            <td class="text-center"><%= link_to '詳細', admin_order_path(order), class: "btn btn btn-outline-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>