<div class="container">
 <div class="row">
  <div class="col-lg-6">
    <h2>ジャンル一覧・編集</h2>
    <%= flash[:success] %>
    <%= form_with model: @genre, url: admin_genres_path,local:true do |f| %>
      <div class="form-group">
        <%= f.label :"ジャンル名" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit "新規登録", class: "btn btn-outline-success" %>
      </div>
    <% end %>
    <table class = "table">
      <thead class="table-active">
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-outline-info" %> |
              <%= link_to "削除する", admin_genre_path(genre), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>