<div class="container">
  <h3 style="padding: 20px 0;">会員情報確認</h3>
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active">お名前</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class="table-active">ふりがな</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="table-active">郵便番号</td>
            <td>〒<%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-active">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="table-active">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
        </tbody>
      </table>
      <p><%= link_to "会員情報を変更する", edit_ec_customer_path(@customer.id), class: "btn btn-outline-light", style: "background-color: #daa965;" %></p>
      <div class="row">
        <div class="col-lg-3 mt-5 mb-5">
          <u><%= link_to "←  マイページへ戻る", ec_mypage_path(@customer.id), class: "text-dark" %></u>
        </div>
        <div class="col-lg-5 mt-5 mb-5">
          <u><%= link_to "退会する", confirm_ec_customer_path(@customer.id), class: "text-dark" %></u>
        </div>
        <div class="col-lg-5"></div>
      </div>
    </div>
  </div>
</div>