<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "お客様ログインページはこちら", new_customer_session_path %>
      <h2>管理者ログイン</h2>
      <%= form_with model: @admin, url: admin_session_path, id: 'new_admin', class: 'new_admin', local: true do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-sm btn-success" %>
        </div>
      <% end %>

      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
