<div class="container-fluid main-visual">
  <div class="row">
    <div class="col-lg-12 main-visual-text">
      <p>
        人生はどれだけ呼吸をし続けるかで決まるのではない。<br>
        どれだけ心のふるえる瞬間があるかだ。
      </p>
      <h1>さぁ、心ふるえる一杯を。</h1>
    </div>
  </div>
</div>

<div class="container mt-5 font-mincho">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>FAVORITE RANKING</h3>
      <p>〜 いいねランキング 〜</p>
    </div>
  </div>
  <div class="row owl-carousel owl-theme">
    <% @items.each.with_index(1) do |item, i| %>
      <div class="col-md-11 m-4">
        <p class="text-center">第 <%= i %> 位</p>
        <%= link_to ec_item_path(item) do %>
          <%= attachment_image_tag item, :image %>
        <% end %>
        <div class="text-right mt-1">
          <b><%= item.name %></b><br>
          <%= item.price.to_s(:delimited) %>円
        </div>
      </div>
    <% end %>
  </div>

  <script>
    $(document).on('turbolinks:load turbolinks:render', function(){
      $('.owl-carousel').owlCarousel();
    });
  </script>

  <div class="row">
    <div class="col-lg-12 mt-5 text-center">
      <h3>NEW COFFEE</h3>
      <p>〜 新着商品 〜</p>
    </div>
  </div>
  <div class="row mt-4">
    <% @new_items.each do |item| %>
      <div class="col-md-3 mb-4">
        <%= link_to ec_item_path(item) do %>
          <%= attachment_image_tag item, :image, class: "img-responsive" %>
        <% end %>
        <div class="text-right mt-1">
          <b><%= item.name %></b><br>
          <%= item.price.to_s(:delimited) %>円
        </div>
      </div>
    <% end %>
  </div>
  <h4 class="text-center pb-4"><%= link_to "商品一覧へ →", ec_items_path, class: "text-dark" %></h4>
</div>