<div class="container font-mincho">
  <h3 style="padding: 20px 0;">お届け先とお支払い方法</h3>
  <%= form_with model: @orders, url: ec_orders_confirm_path, method: :get, local: true do |f| %>
  <div class="row">
    <div class="col-lg-5">
			<h5>＜お届け先＞</h5>
			<br>
			<%= f.radio_button :address_option, 0, checked: "checked" %>
			<%= f.label :order_address, "ご自身の住所" %>
			<div style="margin-left:20px;">
			  <p>〒<%= @customer.postal_code %> <%= @customer.address %></p>
			</div>
			<br>
			<%= f.radio_button :address_option, 1 %>
			<%= f.label :order_address, "登録済住所から選択" %>
			<%= f.collection_select :address_id, current_customer.addresses, :id, :address, :include_blank => "選択してください" %>

			<br>
			<br>
			<%= f.radio_button :address_option, 2 %>
			<%= f.label :order_address, "新しいお届け先" %>

			<div style="margin-left:20px;">
				<label for="name">宛名</label>
        <div class="form-group">
          <%= f.text_field :name, autocomplete: "name", class: 'form-control', placeholder: "例：山田太郎" %>
        </div>
				<label for="postal_code">郵便番号(ハイフンなし)</label>
        <div class="form-group">
          <%= f.text_field :postal_code, autocomplete: "postal_code", class: 'form-control', placeholder: "例：1234567" %>
        </div>
        <label for="address">住所</label>
        <div class="form-group">
          <%= f.text_field :address, autocomplete: "address", class: 'form-control', placeholder: "例：宮崎県宮崎市大坪東〇〇ー〇〇 ビル名　部屋番号" %>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <h5>＜お支払い方法＞</h5>
			<br>
			<%= f.radio_button :payment_method, "クレジットカード", checked: "checked" %>
			<%= f.label :payment_method, "クレジットカード" %>
			<br>
			<br>
			<%= f.radio_button :payment_method, "銀行振り込み" %>
			<%= f.label :payment_method, "銀行振り込み" %>
			<br>
			<%= f.submit "確認画面へ進む", class: "btn btn-outline-light mt-4 mb-5", style: "background-color: #daa965;" %>
			<p><%= link_to "← 前のページに戻る", ec_cart_items_path, class: "text-dark" %></p>
    </div>
  </div>
  <% end %>
</div>