<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #daa965">
    <div class="container">
      <%= link_to image_tag("img/mimpi_mark.png", :size => '160x60'), "/" %>
         <!--render 'layouts/notifications' -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
          <% if customer_signed_in? %>
            <p style="padding-top: 4px; padding-right: 4px;">ようこそ、<%= current_customer.first_name %>さん</p>
            <li class="nav-item">
              <%= link_to "みんぴを知る", about_path, class: "nav-link text-dark font-weight-bold fas fa-heart" %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", ec_mypage_path(current_customer.id), class: "nav-link text-dark font-weight-bold fas fa-smile" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", ec_items_path, class: "nav-link text-dark font-weight-bold fas fa-coffee" %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", ec_cart_items_path, class: "nav-link text-dark font-weight-bold fas fa-shopping-cart" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark font-weight-bold fas fa-coffee" %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "コーヒー豆", admin_items_path, class: "nav-link text-dark font-weight-bold fas fa-coffee" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-dark font-weight-bold fas fa-users" %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link text-dark font-weight-bold fas fa-clipboard-list" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-dark font-weight-bold fas fa-globe-americas" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark font-weight-bold fas fa-sign-out-alt" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "みんぴを知る", about_path, class: "nav-link text-dark font-weight-bold fas fa-heart" %>
            </li>
            <li class="nav-item">
              <%= link_to "コーヒー豆", ec_items_path, class: "nav-link text-dark font-weight-bold fas fa-coffee" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark font-weight-bold fas fa-user-plus" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark font-weight-bold fas fa-sign-in-alt" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>