<!DOCTYPE html>
<html>
  <head>
    <title>MimpiCoffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #daa965">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <h3 class="title-logo font-weight-bold">夢珈琲 <span class="title-logo-2 font-weight-bold">みんぴ</span></h3>
          </a>
             <!--render 'layouts/notifications' -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "コーヒー豆", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "コーヒー豆", root_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark font-weight-bold" %>
                </li>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>    
    </header>
    
    <main class="mt-3 mb-3">
      <%= yield %>
    </main>
    
    <footer class="footer" style="background-color: #daa965">
      <div class="container">
        <p class="text-center mt-4">Mimpi Coffee</p>
      </div>
    </footer>
  </body>
</html>
